.transtable{
clear:both;
/* width:100%; */
/* max-width:600px; */
}
 
.transtable tbody tr td{
/*     width:25%; */
}
  
.transtable td:nth-child(3), .transtable td:nth-child(4){ 
		border:1px solid red;
		display:none;
		width:1%;
}
 

.even td{
  background:#fefefe;
}

.odd td{
  background:#fafafa	;
}

#export ul li{
display:inline-block;
padding:3px;
border: 1px solid blue;
background: lightblue;
width:100px;
text-align:center;
border-radius:1px;
}

.selector{
}

#transtable_length{
  top:-40px;
  
}

.selector, #transtable_length{
/*   display:inline-block; */
  width:200px;
  position:absolute;
  right:20px;
  color:white;
  font-size:1%;
  text-align:right;
  
}  

#languagechooser{
}

#languagechooser  img{
	border: 1px solid black; 
	width:100%;
/* 	height:133px; */
}


#languagechooser_small{
width:150px;
/* position:absolute; */
top:40px;
}

#metalist{
width:150px;
/* position:absolute; */
top:40px;
	
}


.horizontal li{
	display:inline-block;
	list-style:none;
/* 	width:45%; */
}

#languagechooser_small li a img{
	border: 1px solid black; 
	width:20px;
	height:13px;
}

#metalist img{
	width:24px;
}


#transtable_filter label input{
font-size:200%;
width: 200px;
}

#transtable_filter label::after{
content:url("https://upload.wikimedia.org/wikipedia/commons/a/ad/WV_in_review.svg")
}

#transtable_filter label{
color:white;
width:300px;
 
}

#transtable_filter{

left:30%;
position:absolute;
top: -50px;
width:400px;

}

#transtable_wrapper{
/*position:absolute;
top:100px;*/

}

.topclass{
/*   position:absolute; */
  top:0px;
  padding-top:5px;
  margin:5px;
}