.transtable{
clear:both;
/* width:100%; */
/* max-width:600px; */
}
 
.transtable tbody tr td{
/*     width:25%; */
}
  
.transtable td:nth-child(3), .transtable td:nth-child(4){ 
		border:1px solid red;
		display:none;
		width:1%;
}
 

.even td{
  background:#fefefe;
}

.odd td{
  background:#fafafa	;
}

#export ul li{
display:inline-block;
padding:3px;
border: 1px solid blue;
background: lightblue;
width:100px;
text-align:center;
border-radius:1px;
}

.selector{
  display:inline-block;
  width:200px;
}  

#languagechooser li{
	display:inline-block;
	list-style:none;
/* 	width:45%; */
}

#languagechooser li a img{
	border: 1px solid black; 
	width:200px;
	height:133px;
}

#languagechooser_small{
	float:right;
}

#languagechooser_small li{
	display:inline-block;
	list-style:none;
/* 	width:45%; */
}

#languagechooser_small li a img{
	border: 1px solid black; 
	width:20px;
	height:13px;
}